body {
  font-family: Arial, Sans-Serif;
  font-size: 15pt;
  line-height: 22pt;
}

h2,h3,h4,h5,h6 {
  font-weight: normal;
}

header {
  text-align: right;
  margin-bottom: 40px;
}

main {
  width: 640px;
  margin: 0 auto;
}

p img {
  display: block;
  margin: 0 auto;
}
